extends layout

block header
  div(style="flex-basis: 400px; display: flex; justify-content: center;")
    form(method="POST" action="/logout")
      button(class="ui button red" type="submit") Logout

block toolbar
  div(id="toolbar" class="ui top menu" style="align-items:baseline; padding:0px 2px 0px 10px") Sort by &nbsp
    select(id="card_sort" class="ui dropdown")
     option(value="0") Career century breaks
     option(value="1") Ranking titles
     option(value="2") Years pro
     option(value="3") World championship titles
     option(value="4") Country
    select( id="country_filter" class="ui dropdown")



 block content
  div(id="content_container" class="ui container fluid")
   div(class="ui cards")


 block js
  script(src='/js/main.js')
