extends layout

block header
  div(style="flex-basis: 400px; display: flex; justify-content: center;")
    form(method="POST" action="/logout")
      button(class="ui button red" type="submit") Logout
