extends layout

block header
  div(style="flex-basis: 400px; display: flex; justify-content: center;")
   form(method="POST" action="logout")
     input(type="hidden" name="id" value="#{id}")
     a(class="ui button green" href="/new") New player
     button(class="ui button red" type="submit") Logout

block js
 script(src='/js/edit_view.js')
 script(src='/components/jquery-ui/ui/widgets/datepicker.js')

block content
 div(class="ui container fluid" style="width:80%; background-color:white; padding: 10px; box-shadow:0 0 10px rgba(0,0,0,0.5);")
   h1(style="font-family: sans-serif;") &emsp; Edit player profile
   hr
   div(id="card_container")
    div(style="display:inline-block" class="ui form")
     img(class="card_image" style="margin-right:10px; display:block" src="#{avatar_picture}")
     form(method="POST" style="margin-top: 5px;" action="/card/#{id}")
       label
        input(type="text" name="image" placeholder="Link to image")
       button(class="ui button primary" type="submit") Upload
       div(class="ui button" id="set_default") Set default
    div(class="ui form")
      div(style="font-size:13pt; vertical-align: top;; display: inline-block; min-width: 300px; line-height: 38px;")
        div(class="three fields")
          div(class="field")
            span(class="bold pad_indent")  Name*:&nbsp;
            input(type="text" name="name")
          div(class="field")
            span(class="bold pad_indent")  Surname*:&nbsp;
            input(type="text" name="surname")
          div(class="field")
            span(class="bold pad_indent")  Date of birth*:&nbsp;
            input(type="text" name="date_of_birth")
        div
          span(class="bold pad_indent")  Country*:&nbsp;
          input(type="text" name="country")
        div(class="two fields")
          div(class="field")
            span(class="bold pad_indent")   Years in game*:&nbsp;
            input(type="number" name="years_pro" min="0")
          div(class="field")
            span(class="bold pad_indent")  Century breaks*:&nbsp;
            input(type="number" name="century_breaks" min="0")
        div(class="two fields")
          div(class="field")
            span(class="bold pad_indent")  Ranking event titles*:&nbsp;
            input(type="number" name="ranking_titles" min="0")
          div(class="field")
            span(class="bold pad_indent") World championship titles*:&nbsp;
            input(type="number" name="world_champs" min="0")
      div
        span(class="bold pad_indent" style="font-size:13pt")  Biography:&nbsp;
        textarea(rows="18" name="bio")
      button(id="Update" style="margin-top:5px; margin-left:10px; " class="ui button primary") Save
      button(id="Delete" style="margin-top:5px; margin-left:10px; " class="ui button red") Delete
      div(id="message_area" class="")
        div(id="delete_query" style="display:none")
          span(style="margin-right:10px") Delete player?
          button(id="delete_yes" class="ui button green") Yes
          button(id="delete_no" class="ui button red") No
        div(id="Edit_response" style="display:none;  font-size: 18px; font-weight: bold;")
          span(id="success"  style="display:none;") Successfully updated
          span(id="update_error"  style="display:none") Update failed
