extends header

block header
  div(id="password_area" style="display: inline; ")
    if user
      //form(method="POST" action="/logout")
      a(class="ui button green" href="new") New player
      button(class="ui button red" id="logout") Logout
    else
      //form(id="input_form" method="POST" action="/")
      div(class="ui input" style="margin-right:3px")
        //input(type="hidden" name="action" value="login")
        input(type="password" placeholder="Enter as admin")
      button(class="ui button primary" id="submit_pass") Submit
      span(class="message")= message


block toolbar
 div(id="toolbar" class="ui stackable top menu" style="align-items:baseline; padding:0px 2px 0px 10px")
  div(style="margin:5px") Sort by &nbsp
   select(id="card_sort" class="ui dropdown")
     option(value="0") Career century breaks
     option(value="1") Ranking titles
     option(value="2") Years pro
     option(value="3") World championship titles
     option(value="4") Country
  div(style="margin:5px") Choose country &nbsp;
   select( id="country_filter" class="ui dropdown")
  div(class="ui icon input" style="margin:5px")
   input(id="search" type=text placeholder="Search" autocomplete="off" style="border-radius: 0px; height: 100%;")
   i(class="search icon")


 block content
 div(id="content_container" class="ui container fluid")
   div(class="ui cards")

 block js
  script(src='/js/main.js')
