doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title Snooker_DB
    block css
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='components/semantic/dist/semantic.min.css')
      link(href="https://fonts.googleapis.com/css?family=Amaranth" rel="stylesheet")
      link(rel='icon', href='favicon.png' type='image/png')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
      script(src='components/jquery/dist/jquery.min.js')
      script(src='js/main.js')
      script(src='components/semantic/dist/semantic.min.js')
  body
    div(class="main_container")
      div(class="header")
        img(src="favicon.png" height="100" width="100")
        span(class="Title") Snooker_DB
          span(class="Title_text")  &mdash; fancy snooker players database
          i(class="smile icon" style="padding-top:12px")
        block header
      block content
